<!DOCTYPE html>
<html>

<head>
    <title>cia Scribbles demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <form class="form-horizontal" action="/post" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <div id="legend" class="">
                            <legend class="">docx文件上传</legend>
                        </div>
                        <div class="control-group">

                            <!-- File Upload -->
                            <div class="controls">
                                <input class="input-file" id="fileInput" name="file" type="file">
                            </div>
                        </div>

                        <div class="control-group">

                            <!-- Button -->
                            <div class="controls">
                                <br/>
                                <button class="btn btn-success">上传</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="col-lg-4">
                <form class="form-horizontal" action="/changeip" method="post">
                    <fieldset>
                        <div id="legend" class="">
                            <legend class="">修改回联地址</legend>
                        </div>
                        <div class="control-group">

                            <!-- Text input-->
                            <label class="control-label" for="input01">当前回联地址:{{ reverseip }}</label>
                            <div class="controls">
                                <input type="text" name="ip" placeholder="placeholder" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">

                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-success">修改</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="table"></table>
                <script>
                    $('#table').bootstrapTable({
                        method: 'get',
                        url: '/logfile.json',
                        pagination: true,
                        pageNumber: 1,
                        pageSize: 10,
                        pageList: [10, 25, 50, 100],
                        sidePagination: "client",
                        columns: [{
                            field: 'id',
                            title: 'ID'
                        }, {
                            field: 'del',
                            title: '删除'
                        }, {
                            field: 'date',
                            title: '上传时间'
                        }, {
                            field: 'ofile',
                            title: '源文件'
                        }, {
                            field: 'cfile',
                            title: '已处理文件'
                        }, {
                            field: 'num',
                            title: '回联数'
                        }, {
                            field: 'info',
                            title: '详细信息'
                        }],
                    });

                </script>

            </div>
        </div>
    </div>
</body>

</html>
