<!DOCTYPE html>
<html>

<head>
    <title>CIA Scribbles demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js">


    </script>


    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js">


    </script>

    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
    <style type="text/css">
        .iw_poi_title {
            color: #CC5522;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            padding-right: 13px;
            white-space: nowrap
        }

        .iw_poi_content {
            font: 12px arial, sans-serif;
            overflow: visible;
            padding-top: 4px;
            white-space: -moz-pre-wrap;
            word-wrap: break-word
        }

    </style>
</head>

<body>
    <div style="width:70%;height:550px;left:15%;border:#ccc solid 1px;" id="dituContent" class="baidu-maps"></div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="table">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>删除</th>
                            <th>时间</th>
                            <th>ip</th>
                            <th>操作系统</th>
                            <th>office</th>
                            <th>国家</th>
                            <th>城市</th>
                    </thead>
                    <tbody>
                        {% if logs %} {% for item in logs %}
                        <tr>
                            <td>{{ item[0] }}</td>
                            <td><a href="javascript:if(confirm('确实要删除?'))location='/delip/{{ item[0]}}/{{ item[6] }}'">{{ item[0] }}</a></td>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <td>{{ item[4] }}</td>
                            <td>{{ item[3] }}</td>
                            {% if item[7] %}
                            <td>{{ item[7] }}</td>
                            <td>{{ item[8] }}</td>
                            {% endif %}

                        </tr>
                        {% endfor %} {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //创建和初始化地图函数：
        function initMap() {
            createMap(); //创建地图
            setMapEvent(); //设置地图事件
            addMapControl(); //向地图添加控件
            addRemark(); //向地图中添加文字标注
        }

        //创建地图函数：
        function createMap() {
            var map = new BMap.Map("dituContent"); //在百度地图容器中创建一个地图
            var point = new BMap.Point(116.395645, 39.929986); //定义一个中心点坐标
            map.centerAndZoom(point, 4); //设定地图的中心点和坐标并将地图显示在地图容器中
            window.map = map; //将map变量存储在全局
        }

        //地图事件设置函数：
        function setMapEvent() {
            map.enableDragging(); //启用地图拖拽事件，默认启用(可不写)
            map.enableScrollWheelZoom(); //启用地图滚轮放大缩小
            map.enableDoubleClickZoom(); //启用鼠标双击放大，默认启用(可不写)
            map.enableKeyboard(); //启用键盘上下左右键移动地图
        }

        //地图控件添加函数：
        function addMapControl() {
            //向地图中添加缩放控件
            var ctrl_nav = new BMap.NavigationControl({
                anchor: BMAP_ANCHOR_TOP_LEFT,
                type: BMAP_NAVIGATION_CONTROL_LARGE
            });
            map.addControl(ctrl_nav);
            //向地图中添加缩略图控件
            var ctrl_ove = new BMap.OverviewMapControl({
                anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
                isOpen: 1
            });
            map.addControl(ctrl_ove);
            //向地图中添加比例尺控件
            var ctrl_sca = new BMap.ScaleControl({
                anchor: BMAP_ANCHOR_BOTTOM_LEFT
            });
            map.addControl(ctrl_sca);
        }
        var lbPoints = new Array();

            {% if logs %}

            {% for item in logs %}

            {% if item[8] %}


            lbPoints.push({point:"{{ item[10]}}|{{ item[9] }}",content:"{{ item[2] }}"});

            
            {% endif %}
        {% endfor %}
        {% endif %}
        

        //向地图中添加文字标注函数
        function addRemark() {
            for (var i = 0; i < lbPoints.length; i++) {
                var json = lbPoints[i];
                var p1 = json.point.split("|")[0];
                var p2 = json.point.split("|")[1];
                var label = new BMap.Label("<div style='padding:2px;'>" + json.content + "</div>", {
                    point: new BMap.Point(p1, p2),
                    offset: new BMap.Size(3, -6)
                });
                map.addOverlay(label);
                console.log("add a maker");
                label.setStyle({
                    borderColor: "#999"
                });
            }
        }

        initMap(); //创建和初始化地图

    </script>


</body>

</html>
